/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 600px; /* altura mínima */
    background-image: url('img/1.jpg'); /* ajuste caminho correto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* escurece fundo para contraste */
    z-index: 1;
}

.hero-section .container {
    position: relative;
    z-index: 2; /* garante que o texto fique acima da camada escura */
}



/* FORMULÁRIO */
.search-form {
    background-color: #fff; /* branco para contraste */
}

/*Tipo de alojamentos*/
.card-img-top {
    height: 180px;      /* mantém todas as imagens iguais */
    object-fit: cover;  /* corta sem distorcer */
}


.social-icon {
    font-size: 1.5rem;
    color: #dcdcdc;
    transition: 0.3s;
}

.social-icon:hover {
    color: #ffffff;
    transform: scale(1.15);
}

.footer-link {
    text-decoration: none;
    color: #dcdcdc;
    transition: 0.3s;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Iniciar Sessão*/
        body {
            background-color: #f8f9fa;
            height: 100vh;
        }
        .login-card {
            max-width: 420px;
            width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
            background: white;
            padding: 35px;
        }
        .btn-dark {
            padding: 10px 0;
            font-size: 17px;
            font-weight: 500;
        }
        .form-control {
            height: 48px;
        }


















